* {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    width: 90%;
    display: block;
    margin: auto;
}
#header-imgs > img {
    padding: 20px;
}
#unicron {
    max-width: 100px;
    float: right;
}
#greymatter {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(135, 138, 132);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.centre-text { text-align: center;}
#greymatter > ul > li { color: white; }
#greymatter > ul > li > a { color: white; text-decoration: none;}

#pct-map-content {
    display: block;
    margin: auto;
    max-width: 900px;
    margin-bottom: 100px;
}
#year-indication {
    text-align: center;
}
#pct-map {
    box-shadow: 0 2px 5px black;
} 
#pct-map-2 {
    z-index: 1;
    position: absolute;
    top: 449px;
}
.geochart {
    width: 350px; 
    height: 200px;
}


.inwisible {
    display: none;
}
.wisible {
    display: block;
}

#pct-control-panel {
    padding: 20px;
}
#pct-year-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-row-gap: 5px;
}
#year-jump {
    padding-left: 10px;
    grid-row: 2;
    grid-column: 2;
}
#nek-butt {
    grid-row: 1;
    grid-column: 3;
}
#pct-toggle-container {
    width: 100%;
    margin: auto;
}

/* at width 620px, the toggle container starts to break */

#code-col {width: 100px;}
#name-col {width: 400px;}
#date-col {width: 200px;}
#pct-dates-table {
    border-collapse: collapse;
    margin: auto;
}
tr:nth-child(even) {background: rgb(230, 230, 230)}
tr { 
    line-height: 2;
    text-align: center;
}
.good-ol-pipers-red { 
    background-color: rgb(206, 11, 16);
    color: white;
}
.btn {
    font-size: 16px;
    background-color: rgb(145, 145, 145);
    color: white;
    border: none;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}
.btn:active {
    transform: translateY(2px);
}
.btn:disabled {
    background-color: rgb(207, 207, 207);
    cursor: auto;
}


@media only screen and (min-width: 450px) {
    .geochart {
        width: 400px; 
        height: 325px;
    }
}
@media only screen and (min-width: 550px) {
    .geochart {
        width: 500px; 
        height: 350px;
    }
}
@media only screen and (min-width: 650px) {
    .geochart {
        width: 600px; 
        height: 375px;
    }
    #pct-year-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
    }
    #year-jump {
        margin: auto;
        grid-row: 1;
        grid-column: 2;
    }
    #nek-butt {
        grid-row: 1;
        grid-column: 3;
    }
    #pct-toggle-container {
        width: 100%;
        margin: auto;
    }
    .btn {
        font-size: 16px;
        background-color: rgb(145, 145, 145);
        color: white;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (min-width: 750px) {
    .geochart {
        width: 700px; 
        height: 400px;
    }
}
@media only screen and (min-width: 850px) {
    .geochart {
        width: 800px; 
        height: 450px;
    }
}
@media only screen and (min-width: 950px) {
    .geochart {
        width: 900px; 
        height: 500px;
    }
}