* {
    font-family: 'Nunito Sans', sans-serif;
}
#pct-map-content {
    display: block;
    margin: auto;
    max-width: 900px;
    margin-bottom: 100px;
}
#year-indication {
    text-align: center;
}
#pct-map {
    box-shadow: 0 2px 5px black;
} 
#pct-map-2 {
    z-index: 1;
    position: absolute;
    top: 86px;
}
.inwisible {
    display: none;
}
.wisible {
    display: block;
}
#pct-control-panel {
    padding: 20px;
}
#pct-year-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}
#year-jump {
    margin: auto;
}
#pct-toggle-container {
    width: 100%;
    margin: auto;
}


#code-col {width: 100px;}
#name-col {width: 400px;}
#date-col {width: 200px;}
#pct-dates-table {
    border-collapse: collapse;
    margin: auto;
}
tr:nth-child(even) {background: rgb(230, 230, 230)}
tr { 
    line-height: 2;
    text-align: center;
}
.good-ol-pipers-red { 
    background-color: rgb(206, 11, 16);
    color: white;
}
.btn {
    font-size: 16px;
    background-color: rgb(145, 145, 145);
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(179, 179, 179);
}
.btn:active {
    transform: translateY(2px);
}
.btn:disabled {
    background-color: rgb(207, 207, 207);
    cursor: auto;
}
